{
  "env": {
    "node": true
  },
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "prettier",
    "jest"
  ],
  "rules": {
    "prettier/prettier": "error",
    "arrow-parens": [
      2,
      "as-needed",
      {
        "requireForBlockBody": false
      }
    ]
  }
}